*.pyc
backend/*.pyc
backend/contacts/migrations/
__pycache__/
.env
backend/.env
frontend/.env
frontend/.firebaserc
frontend/.firebase
__pycache__/
*.pyc

backend/line.txt

frontend/.firebaserc
frontend/.firebase
