.background {
  background: linear-gradient(
      0deg,
      rgba(255, 0, 150, 0.3),
      rgba(255, 0, 150, 0.3)
    ),
    url("../../assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}
